@{ 
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<blockquote>
    <p>Last day I was here, but not even</p>
    <p>Tomorrow maybe I will be here, but not even</p>
    <p>Next Week everything will be better</p>
    <h1>This is another information</h1>
    <p>Think about all stranger things e about nothing too</p>
</blockquote>
<hr />
<blockquote>
    <p>Last day I was here, but not even</p>
    <p>Tomorrow maybe I will be here, but not even</p>
    <p>Next Week everything will be better</p>
    <h1>This is another information</h1>
    <p>Think about all stranger things e about nothing too</p>
</blockquote>